<footer>



 
    <div class="container mt-5 py-5">
      <div class="row justify-content-center">

        {% if site.data.social %}
        <div class="col-md-4 footer-column d-flex justify-content-center text-white social-icons">
          {% for social in site.data.social %}
          <a href="{{ social.url }}" target="_blank">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        {% endfor %}       
        </div>
        {% endif %}
        
        {% if site.data.footer %}
<p>
  {{ footer.aoc }}

</p>
{% endif %}
      </div>
    </div>



    <div class="container-fluid copyright">
      <div class="row">
        <span class="quick-links">Copyright © <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
  </div>

    </footer>

     <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

     <script src="{{ base.url | prepend: site.url }}/assets/js/main.js"></script> 

