<header id="home">
  <!-- navbar -->
  <nav id="nav">
    <div class="nav-center">
      <!-- nav header -->
      <div class="nav-header">
        <a class="navbar-brand gradient-text" href= "{{ "/" | relative_url }}" > {{ site.title | escape }} </a>
        <button class="nav-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- links -->
      <div class="links-container">
        <ul class="links">
          {{ site.data.navigation.navigation }}
          {% for item in site.data.navigation.main %}  
          <li>
            <a href="{{ item.url }}" class="scroll-link">{{ item.title }}</a>
          </li>
          {% endfor %}  
        </ul>
      </div>
      <!--toggle-->
      <div class="toggle-container">
        <input class="dark-mode-toggle" id="toggle-btn" type="checkbox"/>
        <div class="toggle">
          <div class="toggle__ball"></div>
        </div>
      </div>
      <!--end toggle-->
    </div>
  </nav>

  