<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  

  {% if page.title %}<meta property="og:title" content="{{ page.title }}">{% endif %}
  {% if page.url %}<meta property="og:url" content="{{ site.rooturl }}{{ page.url }}">{% endif %}
  {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% endif %}
  {% if page.bannerImage %}<meta property="og:image" content="{{ site.rooturl }}{{ page.url | replace: 'index', '' }}{{ page.bannerImage }}">{% endif %}
  <meta property="og:type" content="website" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@">
  {% if page.title %}<meta name="twitter:title" content="{{ page.title }}">{% endif %}
  {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% endif %}
  {% if page.bannerImage %}<meta name="twitter:image" content="{{ site.rooturl }}{{ page.url | replace: 'index', '' }}{{ page.bannerImage }}">{% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link href="/assets/css/main.css" rel="stylesheet">

    <script src="https://kit.fontawesome.com/c92a73f1af.js" crossorigin="anonymous"></script>

  {% include custom-head.html %}

</head>


<header id="home">
  <!-- navbar -->
  <nav id="nav">
    <div class="nav-center">
      <!-- nav header -->
      <div class="nav-header">
        <i class="fa-brands fa-space-awesome fa-2x"></i>
        <button class="nav-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- links -->
      <div class="links-container">
        <ul class="links">
          <li>
            <a href="#home" class="scroll-link">home</a>
          </li>
          <li>
            <a href="#about" class="scroll-link">about</a>
          </li>
          <li>
            <a href="#services" class="scroll-link">services</a>
          </li>
          <li>
            <a href="#tours" class="scroll-link">tours</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- banner -->
  <div class="banner">
    <div class="container">
      <h1>scroll project</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas eos
        neque sunt in? Id, necessitatibus quos quisquam distinctio
        laudantium fugiat?
      </p>
      <a href="#tours" class="scroll-link btn btn-white">see our work</a>
    </div>
  </div>
</header>


