---
layout: default
---

 <!-- banner -->
 <div class="banner">
  <div class="container">
    <div class="intro">
    <!-- <h1>{{ page.title }}</h1> -->

    <div class="intro-text">
    <h2><span class="gradient-text">Hi!</span>{{ site.mjt.intro-heading }}</h2>
    <p>{{ site.description }}</p>
    <div class="intro-social-links">
<p>Find me on:</p>

{% if site.data.navigation.social-links %}
<div class="social">
  {% for item in site.data.navigation.social-links %}
    <a href="{{ item.url }}" target="_blank">
      <i class="{{ item.icon | default: 'fas fa-link' }}" title="{{ item.title }}"></i>
    </a>
  {% endfor %}
{% endif %}
</div>


</div>
<p>My Toolkit:</p>
<div class="toolkit">
  {% if site.data.navigation.toolkit %}
    {% for item in site.data.navigation.toolkit %}
      {% if item.type == 'icon' %}
        <i class="{{ item.icon }}"></i>
        {% elsif item.type == 'image' %}
        <img src="{{ item.image_path }}" alt="{{ item.title }}">
        {% endif %}
      {% endfor %}
    {% endif %}
</div>




  </div>



<div class="intro-img-block intro-img-block-transition">
  <div class="" id="intro-img">
  <img src="{{site.baseurl }}/{{ site.mjt.portfolio_image }}" alt="{{ site.name }}" />
  </div>
</div>



  </div>
</div>

</div>


</header>



<div class="main">
  {{ content }}
</div>

