---
layout: default
---

 <!-- banner -->
 <div class="banner">
  <div class="container">
    <div class="intro">
    <!-- <h1>{{ page.title }}</h1> -->

    <div class="intro-text">
    <h2><span class="gradient-text">Hi!</span>{{ site.mjt.intro-heading }}</h2>
    <p>{{ site.description }}</p>
    <div class="intro-social-links"
<p>Find me on</p>
{% if site.data.navigation.social-links %}
<div class="social">
  {% for item in site.data.navigation.social-links %}
    <a href="{{ item.url }}" target="_blank">
      <i class="{{ item.icon | default: 'fas fa-link' }}" title="{{ item.title }}"></i>
    </a>
  {% endfor %}
{% endif %}
</div>

</div>


{% for item in site.data.navigation.toolkit %}
{% if item.icon.type == 'icon' %}

    <i class="material-icons">{{ item.icon.name }}</span>
  {% elsif item.icon.type == 'image' %}
    <img src="{{ item.icon.image_path }}" alt="{{ item.icon.alt }}">
  {% else %}
    {{ item.icon.value }}
  {% end %}

  <h3>{{ item.title }}</h3>
  <p>{{ item.description }}</p>
  {% endif %}
{% endfor %}





  </div>
<div class="intro-img">
  <img src="{{site.baseurl }}/{{ site.mjt.portfolio_image }}" alt="{{ site.name }}" />
</div>
  </div>
</div>

</div>



<div class="main">
  {{ content }}
</div>

</header>

<ul class="links">
  {% for item in site.data.navigation.social-links %}  
  <li>
    <a href="/{{ item.url }}" class="scroll-link">{{ item.title }}</a>
  </li>
  {% endfor %}  
</ul>