---
layout: default
---

 <!-- banner -->
 <div class="banner" style="background:linear-gradient(0deg, rgba(0,0,0,0.7934524151457458) 0%, rgba(0,0,0,0.3) 60%), url('{{ page.url | replace: 'projects', '_projects' | replace: 'index', '' }}/{{ page.bannerImage | replace: 'png', 'webp' | replace: 'jpg', 'webp' | replace: 'jpeg', 'webp' }}'); background-size:cover; background-position:{{ page.bannerImageFocus }}!important">

</header>

 </div>

 
</header>

 <section class="{{ page.collection }}">


<div class="main">
  {{ content }}
</div>

</section>