---
layout: default
---

<!-- Landing Start -->
<section class="completed-projects">

<h1 class="text-white font-weight-bold">{{ page.title }}</h1>

<div class="container">
<div class="row">
<article class="page">
 
  <div class="page-content">
   {{ content }}
  </div>

</article>
</div>
</div>

<div class="container landing-tiles">
complete  <div class="row">

    {% assign completed-projects = site.completed-projects | sort: 'published' | reverse %}
    {% for completed-projects in completed-projects %}

<div class="card-wrapper col-lg-4 col-md-6 col-12 pt-4" data-aos="zoom-in-up">
  <!-- Card -->
  <article class="card card-animation" id="card">
    <!-- <div class="card category">{{ art.category }}</div> -->
    <a href="{{ completed-projects.url }}">
    <div class="card-block">
      <h4 class="card-title pt-2">{{ completed-projects.title }}</h4>
      <p class="card-text">{{ completed-projects.description | truncate: 160 }}</p>
      </a>
    </div>
  </article><!-- .end Card -->
</div>
{% endfor %}  
</div>
</div>